---
import Layout from "@layouts/Layout.astro";
import { Image } from "astro:assets";

import MainContainer from "@components/MainContainer.astro";
import Btn from "@components/Btn.astro";

import HeroPhoto from "@assets/images/man-throwing-a-stone.jpg";
import { Content as AboutUs } from "@content/aboutUs.md"
import { Content as SignUp } from "@content/signUp.md"



---

<Layout title="Astro Starter">
    <section class="hero">
      <Image src={HeroPhoto} alt="" />
      <h1>a simple Astro Starter Kit</h1>
      Photo by Viktor Hanacek from picjumbo.com
    </section>

    <MainContainer>
      <section class="about-us">
        <AboutUs>
        </AboutUs>
      </section>
      <section class="featured">
        <h2>Featured</h2>
        <Btn text="Learn More" radiusLeft="1rem"></Btn>

      </section>
      <section class="sign-up">
        <SignUp>
        </SignUp>
      </section>

    </MainContainer>

</Layout>
