---
const {  radiusTop="0", radiusBottom="0", radiusRight="0", radiusLeft="0" } = Astro.props;

---

<div class="btn" style={`--radius-top:${radiusTop}; --radius-right:${radiusRight}; --radius-botton:${radiusBottom}; --radius-left:${radiusLeft};`}>
    <p><slot/></p>
</div>

<style>
    .btn{
        display: flex;
        color: var(--color-main-container);
        background-color: var(--color-accent);
        padding: .5rem;
        border-radius: var(--radius-top) var(--radius-right) var(--radius-botton) var(--radius-left);
        align-items: center;
        text-decoration: underline .5px;
    }

    .btn:hover{
        color: var(--color-main-container);
        background-color: var(--color-background);
    }
</style>