---

---


<div class="main-container">
    <div class="inner-container">  <slot /></div>

</div>


<style>
  /* uses flex to center items on the page.*/
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .inner-container {

    max-width: calc(
      min(100%, var(--size-page-width)) - 2 * var(--size-page-padding)
    );
    background-color: var(--color-main-container);
    padding:1rem;
    width: 100%;
  }

  @media (max-width:1040px) {
    .inner-container {
      max-width: 100%;
    }

  }

</style>

