---

---

<nav>
    <ul>
        <li><a href="#about-us">About Us</a></li>
        <li><a href="#featured">Featured</a></li>
        <li><a href="#sign-up">Sign Up</a></li>
        <li><a href="#footer">Footer</a></li>
    </ul>
</nav>

<style>
    ul {
        display: flex;
        flex-flow: column wrap;
        height: 10rem;
        align-items: flex-start;
    }

    li {
      padding: 1rem 0px;

    }

    li::marker {
        content: none;
    }

    a {
      color: var(--color-main-container); 
      text-decoration: none;
    }

</style>