---

---

<nav>
    <ul>
        <li><a href="#about-us">About Us</a></li>
        <li><a href="#featured">Featured</a></li>
        <li><a href="#sign-up">Sign Up</a></li>
        <li><a href="#footer">Footer</a></li>
    </ul>
</nav>

<style>
    nav {
        background-color: #242115;
    }

    nav li {
        color: ;
    }
</style>