---
const {linkHeight = '0'}  = Astro.props;
---

<nav>
    <ul style={`--height:${linkHeight};`}>
        <li><a href="#about-us">About Us</a></li>
        <li><a href="#featured">Featured</a></li>
        <li><a href="#sign-up">Sign Up</a></li>
        <li><a href="#footer">Footer</a></li>
    </ul>
</nav>

<style>
    ul {
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;
        height: var(--height);
        justify-content: center;
        gap: 1rem;
    }

    li {
      padding: 1rem 0px;

    }

    li::marker {
        content: none;
    }

        a {
            color: var(--color-main-container); 
            text-decoration: none;
            white-space: nowrap;
        }

</style>